# 제어문

## 조건문 (if문)

1. `if` 문은 반드시 일정한 참/거짓을 판단할 수 있는 `조건식`과 함께 사용한다. (`if <조건식>:`)

2-1. `<조건식>`이 참인 경우 `:` 이후의 문장을 실행한다.
   
2-2. `<조건식>`이 거짓인 경우 `else:` 이후의 문장을 실행한다.

In [2]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 123

크리스마스가 아닙니다.

In [18]:
num = input('숫자를 입력해주시요')
print(num)
print(type(num))
num = int(num)

숫자를 입력해주시요 123

123
<class 'str'>

In [20]:
# 조건문을 사용해서 num에 들어있는 숫자가 홀수/짝수 인지 판별

if (num % 2) == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

홀수입니다.

In [21]:
if (num % 2) == 1:
    print('홀수입니다.')
else:
    print('짝수입니다.')

홀수입니다.

In [22]:
# num을 2로 나눈 나머지는 0, 1 두가지 경우가 있다.
# if문의 조건식에 0, 1은 자동형변환이 일어나 Flase, True로 변환된다.

if num % 2:
    print('홀수입니다.')
else:
    print('짝수입니다')

홀수입니다.

### elif

```
if <조건식>:
    if 조건이 참인 경우 실행
elif <조건식>:
    elif 조건이 참인 경우 실행
'''
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [46]:
score = int(input())

 96

In [60]:
# 90점 이상 A (95점 이상 '참 잘했어요')
# 80점 이상 B
# 70점 이상 C
# 나머지 F

if score >= 90:
    print('A')
    if score >= 95:
        print('참 잘했어요')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

A
참 잘했어요

## 조건표현식

```
    true_value if<조건식> else false_value
```

In [62]:
print('True') if 1 > 0 else print('Flase')
print('True') if 1 < 0 else print('Flase')

True
Flase

In [68]:
#위와 동일 형태
if 1>0:
    print('True')
else:
    print('False') 
if 1<0:
    print('True')
else:
    print('False')

True
False

In [76]:
num = 5
value = num if num >=0 else 0
print(value)

5

In [77]:
num = 5
if num >= 0:
    value = num
else: 
    value = 0
print(value)

5

In [81]:
num = 2
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
    
print(result)

짝수

In [82]:
num =2
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

짝수

In [83]:
num =2
value = 'even' if num % 2 == 1 else 'odd'
print(value)

odd

# 반복문


## while 문

```
while <조건식>:
    실행할 코드
```

In [1]:
a = 0

while a < 5:
    print(a)
    a += 1
    # a = a + 1

0
1
2
3
4

In [54]:
# 사용자가 '안녕'이록 할때까지 계속 입력을 요청받는 코드
greeting = ''

while greeting !== '안녕':
    pri

SyntaxError: invalid syntax (1679180237.py, line 4)

## for

정해진 범위 내의 반복

    for variable in sequence
        code

In [10]:
numbers = [1, 2, 3, 4, 5]

for number in numbers: 
    print(number)

1
2
3
4
5

In [13]:
# for문을 사용해서 사용자가 입력한 데이터를 한글자씩 출력하는 코드

word = input('단어를 입력해주세요: ')

for character in word:
    print(character)

단어를 입력해주세요:  apple

a
p
p
l
e

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [37]:
# 1. 1~30까지 숫자 중에서 홀수 출력
# 2. 1~30까지 숫자 중에서 홀수들을 모아 리스트로 출력

nums = range(31)
result = []
for num in nums:
    if num % 2 == 1:
        print(num)
        result.append(num)

print(result)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [58]:
menus = ['라면', '김밥', '돈까스']

for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '김밥')
(2, '돈까스')

In [60]:
enumerate(menus)

In [61]:
menus = ['라면', '김밥', '돈까스']

for idx, menu in enumerate(menus):
    print(idx)
    print(menu)

0
라면
1
김밥
2
돈까스

## dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [64]:
info = {
    'name': 'sanghun',
    'location': 'seoul',
    'phone': '010-1234-1234',
}

In [69]:
for i in info:
    print(i)
    print(info[i])

name
sanghun
location
seoul
phone
010-1234-1234

In [70]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

In [72]:
 print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [73]:
 print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [80]:
result = 0

for value in blood_type.values():
    result = result + value

print(f'총인원은 {result}명입니다.')

총인원은 14명입니다.

In [96]:
for key, value in blood_type.items():
    print(key, value)

A 5
B 4
O 2
AB 3

In [97]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

In [90]:
for item in blood_type.items():
    print(item)
print(item[1])

('A', 5)
('B', 4)
('O', 2)
('AB', 3)

In [83]:
blood_type.items()

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

### break

반복문을 종료시키는 키워드

In [98]:
for i in range(100):
    if i > 10:
        print('10 넘었어')
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
10 넘었어

In [104]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리', '보리']
#보리, 보리, 보리, 보리, 쌀, 잡았다! => X

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다!')
        break

보리
보리
보리
보리
쌀
잡았다!

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [108]:
for i in range(10):
    if i % 2:
        continue
    print(i)

0
2
4
6
8

In [114]:
age = [10, 35, 20, 18, 9, 40]

for a in age:
    if a < 20:
        continue
    print(a, '성인입니다.')

35 성인입니다.
20 성인입니다.
40 성인입니다.

### else

else문은 끝까지 반복이 진행된 후 실행됩니다.

In [116]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print('break 못 만남')

0
1
2
3
4
5
6
7
8
9
break 못 만남

In [118]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('break 못 만남')

0
1
2
3
4
5

In [120]:
numbers = [1, 3, 5, 7, 9]
print(3 in numbers)
print(2 in numbers)

True
False

In [128]:
numbers = [1, 3, 5, 7, 9]
target = 5

#if문을 통해 내가 원하는 숫자가 있으면 True
for number in numbers:
    if number == target:
        print('True')
        break
else:
    print('False')

True

### pass

In [130]:
if True:
    pass

### match

```
match value:
    case 조건:
        code
    case 조건:
    case _:
        code

In [133]:
status = 404

match status:
    case 400:
        print('Bad request')
    case 404:
        print('Not found')
    case _:
        print('something is wrong')

Not found